@tailwind base;
@tailwind components;
@tailwind utilities;

body,h1,h2,p,span,div,li {
  font-family: Peyda , Helvetica, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Font-Peyda/Peyda-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Font-Peyda/Peyda-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('/fonts/Font-Peyda/Peyda-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.swiper-masajed .swiper-button-next,.swiper-masajed .swiper-button-prev{
  background-color: rgb(255, 255, 255);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}


.swiper-masajed .swiper-button-next::after,.swiper-masajed .swiper-button-prev::after{
  color: #39A894;
  font-size: 16px !important;
}

.swiper-masajed .swiper-pagination-bullet{
  background-color: white !important;
  opacity: 1 !important;
}


.swiper-masajed .swiper-pagination-bullet-active{
  background-color: #D5B260 !important;
  opacity: 1 !important;
}


@keyframes slide {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}


@keyframes shimmer {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}


.animate-slide {
  background: linear-gradient(90deg, #dcdcdc, #f0f0f0, #dcdcdc);
  animation: slide 2s infinite;
}


.animate-shimmer {
  animation: shimmer 2s infinite;
}


.rmdp-container {
  width: 100%;
}




/* my changes ------------ */




table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}
th{
  background-color: #dddddd;
}



.vector-nama{
  background-image: url(../public/assets/Vector.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.142);
  background-blend-mode: multiply;
}

.vector-nama2{
  background-image: url(../public/assets/Vector.png);
  background-size: cover;
  background-color: #002a4fe8  ;
  background-blend-mode: multiply;
}

.filtered-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: '#492d2d';
  filter: brightness(1.5) saturate(0.8);
  z-index: -1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

/* header {
  position: relative;
  z-index: 11;
} */